.form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: $grey;

  &__required {
    color: $dark;
  }
}

#image {
  position: relative;
}

.fa-plus-square,
.fa-minus-square {
  position: absolute;
  font-size: 30px;
  top: 2px;
  right: 2px;
  background-color: white;
  cursor: pointer;
}

.fa-minus-square {
  height: 35%;
}

#output {
  width: 200px;
  border: 1px solid black;
}

.hidden-input {
  display: none;
}

#image {
  cursor: pointer;
}

/* error */
.error {
  display: none;
  color: rgb(224, 30, 16);
  font-size: 0.8em;
}

@mixin message-box($color, $background) {
  color: $color;
  background-color: $background;
  border: 1px solid $color;
  padding: 10px;
}

.warning {
  @include message-box(black, yellow);
}

.success {
  @include message-box(white, green);
}

.red-error {
  @include message-box(black, red);
}

/* featured slider */
.form-label--featured,
.form-label--image {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $secondary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $secondary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
